<div class="container">
  <ul>
    <% @board.errors.full_messages.each do |message| %>
      <li><% message %></li>
    <% end %>
  </ul>
  <%= form_with(model: @board, url: boards_path, method: 'post', local: true) do |f| %>
    <h1>New Board</h1>
    <div>
      <%= f.label :title, 'Name' %>
    </div>
    <div>
      <%= f.text_field :title, class: 'text' %>
    </div>
    <div>
      <%= f.label :content, 'Description' %>
    </div>
    <div>
      <%= f.text_area :content %>
    </div>
    <div class="actions-3">
      <%= f.submit '保存', class: 'btn-primary'%>
    </div>
  <% end %>
</div>